
* {
	box-sizing: border-box;
}
*:not(code) {
	font-family: sans-serif;
}
code {
	padding: 1px 3px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.1);
}
html {
	background: #eee;
	overflow-y: scroll;
	cursor: default;
}
body {
	margin: 0;
	padding: 20px;
}
body.loading {
	height: 29999px;
}
input:not([type=submit]):not([type=button]):not([type=reset]),
textarea,
select {
	padding: 5px;
	border: solid 1px #bbb;
	color: inherit;
	cursor: default;
}
textarea {
	font-family: monospace;
}
#sites input:not([type=submit]):not([type=button]):not([type=reset]),
#sites textarea,
#sites select {
	padding: 15px;
	background: transparent;
	border: solid 0 #bbb;
}
input[type=submit],
input[type=button],
input[type=reset],
button {
	padding: 5px 15px;
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
input[type=submit],
button.submit {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
form, p {
	margin: 0 0 1em;
}
::-webkit-input-placeholder {
	color: #bbb;
}



body.loading::before {
	content: "LOADING";
	display: block;
	background: black;
	color: white;
	padding: 30px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px;
	margin-bottom: 10px;
}



p[data-notifid] a {
	font-weight: bold;
	color: inherit;
}
p[data-notifid].read {
	display: none;
}



#sites table {
	width: 100%;
	border-spacing: 0;
	border: solid 1px #aaa;
}
#sites tbody:not(.expanded) > tr:not(:first-child) {
	display: none;
}
#sites tbody:nth-child(even) tr:first-child {
	background: #d7d7d7;
}
#sites tbody.hilited tr:first-child {
	background: lightblue;
}
#sites tbody.expanded tr {
	background: #888 !important;
	color: white;
}
#sites th,
#sites td {
	padding: 0;
	border: solid 1px #bbb;
}
#sites thead th,
#sites thead td {
	padding: 5px 2px;
}
#sites.saved table,
#sites.saved th,
#sites.saved td {
	border-color: green;
}
#sites.dirty table,
#sites.dirty th,
#sites.dirty td {
	border-color: red;
}
#sites tbody.new-site:not(.enabled),
#sites tbody.disabled {
	opacity: 0.8;
}
#sites tbody.new-site:not(.expanded) .host::-webkit-input-placeholder {
	color: #777;
}
#sites td.checkboxify {
	cursor: pointer;
}
#sites td.checkboxify.unchecked {
	background-color: #faa;
}
#sites td.checkboxify.checked {
	background-color: #afa;
}
#sites td.enabled,
#sites td.sync {
	text-align: center;
}
#sites td.content {
	width: 100%;
}
#sites .host {
	width: 100%;
	display: block;
}
#sites tbody:not(.expanded) .el-host {
	cursor: pointer;
}
#sites .options > label {
	margin-right: 20px;
}
#sites textarea.code {
	width: 100%;
	display: block;
	-moz-tab-size: 4;
	tab-size: 4;
	resize: vertical;
	overflow: hidden;
}
#sites textarea.code.hilited {
	background: lightblue;
	color: darkblue;
	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);*/
}



#sites td.actions {
	padding: 5px;
}
.actions button > .loading {
	margin-left: 10px;
}
.actions button:not(.loading) > .loading {
	display: none;
}
.actions #btn-connect2drive {
	box-shadow: 0 0 10px blue;
}
.actions #btn-upload.dirty {
	box-shadow: 0 0 5px orange;
}
.actions #btn-download.behind {
	box-shadow: 0 0 5px red;
}

body.sync-enabled #btn-connect2drive {
	display: none;
}
body:not(.sync-enabled) #btn-download,
body:not(.sync-enabled) #btn-upload,
body:not(.sync-enabled) #btn-sync-log {
	display: none;
}



form.pop-out {
	box-shadow: 0 0 10px #ccc;
	border: solid 2px #ccc;
	background-color: #ddd;
	padding: 10px;
}
form.pop-out h2 {
	margin: 0 0 .5em 0;
}



#form-search #search-results-summary {
	font-size: 18px;
	line-height: 1.4;
	white-space: pre-wrap;
}
#form-search #search-results-summary * {
	font-family: monospace;
}
#form-search #search-results-summary .host {
	font-weight: bold;
	color: black;
	text-decoration: none;
}



#prefs {
	background: white;
	padding: 10px;
	box-shadow: 0 0 30px #bbb;
}
#prefs p {
	margin: 0;
}
#prefs .pref {
	display: inline-block;
}



form .saved {
	color: green;
	margin-left: 10px;
}
form:not(.saved) .saved {
	display: none;
}



#ta-export,
#ta-import,
#ta-disabled,
#ta-sync-log {
	width: 100%;
}



html {
	overflow-x: hidden;
}
.relative {
	position: relative;
}
#sites .el-metadata {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	margin-left: 30px;
	line-height: calc(1em + 30px);
	opacity: 0.4;
	white-space: nowrap;
}
.tmp-site-host-width {
	display: inline-block;
	font-family: Arial;
	position: absolute;
	top: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: -2;
}
