
* {
	box-sizing: border-box;
}
html {
	background: #eee;
	overflow-y: scroll;
	cursor: default;
}
body {
	margin: 0;
	padding: 20px;
}
input:not([type=submit]):not([type=button]):not([type=reset]),
textarea,
select {
	padding: 5px;
	border: solid 1px #bbb;
	color: inherit;
	cursor: default;
}
#sites input:not([type=submit]):not([type=button]):not([type=reset]),
#sites textarea,
#sites select {
	padding: 15px;
	background: transparent;
	border: solid 0 #bbb;
}
input[type=submit],
input[type=button],
input[type=reset] {
	padding: 5px 15px;
}
input[type=submit] {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}
form, p {
	margin: 0 0 1em;
}
::-webkit-input-placeholder {
	color: #bbb;
}



body.loading::before {
	content: "LOADING";
	display: block;
	background: black;
	color: white;
	padding: 30px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px;
	margin-bottom: 10px;
}



p[data-notifid] a {
	font-weight: bold;
	color: inherit;
}
p[data-notifid].read {
	display: none;
}



#sites table {
	width: 100%;
	border-spacing: 0;
	border: solid 1px #aaa;
}
#sites tbody:not(.expanded) > tr:not(:first-child) {
	display: none;
}
#sites tbody:nth-child(even) tr:first-child {
	background: #d7d7d7;
}
#sites tbody.hilited tr:first-child {
	background: lightblue;
}
#sites tbody.expanded tr {
	background: #888 !important;
	color: white;
}
#sites th,
#sites td {
	padding: 0;
	border: solid 1px #bbb;
}
#sites thead th,
#sites thead td,
#sites tfoot th,
#sites tfoot td {
	padding: 5px 2px;
}
#sites.saved table,
#sites.saved th,
#sites.saved td {
	border-color: green;
}
#sites.dirty table,
#sites.dirty th,
#sites.dirty td {
	border-color: red;
}
#sites tbody.new-site:not(.enabled),
#sites tbody.disabled {
	opacity: 0.6;
}
#sites td.checkboxify {
	cursor: pointer;
}
#sites td.checkboxify.unchecked {
	background-color: #faa;
}
#sites td.checkboxify.checked {
	background-color: #afa;
}
#sites td.enabled,
#sites td.sync {
	text-align: center;
}
#sites td.content {
	width: 100%;
}
#sites .host {
	width: 100%;
	display: block;
}
#sites tbody:not(.expanded) .el-host {
	cursor: pointer;
}
#sites .options > label {
	margin-right: 20px;
}
#sites textarea.code {
	width: 100%;
	display: block;
	tab-size: 4;
	resize: vertical;
}



form.pop-out {
	box-shadow: 0 0 10px #ccc;
	border: solid 2px #ccc;
	background-color: #ddd;
	padding: 10px;
}
form.pop-out h2 {
	margin: 0 0 .5em 0;
}



#prefs {
	background: white;
	padding: 10px;
	box-shadow: 0 0 30px #bbb;
}
#prefs p {
	margin: 0;
}
#prefs .pref {
	display: inline-block;
}



form .saved {
	color: green;
	margin-left: 10px;
}
form:not(.saved) .saved {
	display: none;
}



#ta-export,
#ta-import,
#ta-disabled {
	width: 100%;
}
